APP_NAME='Cyber Duck CRM'
APP_URL=http://localhost:8100
APP_ENV=local
APP_KEY=base64:tsHNyZituUzndh27+xeacmldaxMA2ZlSG+qE+c+6YPY=
APP_DEBUG=true

LOG_CHANNEL=stack

DB_CONNECTION=sqlite

MAIL_DRIVER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

DISK_LOCAL=local
