
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import "~admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "~admin-lte/bower_components/font-awesome/css/font-awesome.min.css";

@import "~admin-lte/bower_components/Ionicons/css/ionicons.min.css";
@import "~admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css";

@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/skin-black.css";


table.dataTable tbody>tr.selected,table.dataTable tbody>tr>.selected
{
  background-color: #f39c12;
  color:#ffffff;
}

.confirm-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.image-modal-edit {
  max-height: 250px;
  max-width: 400px;
  height: auto;
  width: auto;
  margin: 15px;
  display: list-item;
}